body {
  margin: 0;
  padding: 25px;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif;
}

a {
  cursor: pointer;
}

.box {
  padding: 10px;
  border: 1px solid #333;
  color: #333;
  background: #CCC;
}

.js-pending {
  border-color: #660;
  color: #660;
  background: #FFC;
}

.js-error {
  border-color: #600;
  color: #600;
  background: #FCC;
}

.js-success {
  border-color: #060;
  color: #060;
  background: #CFC;
}
.js-issue-list ul {
    list-style: none;
    padding:0;
    margin:0;
}
.js-issue-list li {
    font-size:12px;
    padding:5px;
    background:#ccc;
    list-style:none;
    margin:0;
}
.js-issue-list li:nth-child(even) {
    background: #b2b2b2;
}

.modal-mask {
  /* this will cover the full screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 100px;
  background-color: gray; /* fallback */
  background-color: rgba(0,0,0,0.5);
}
.modal-body {
  max-width: 700px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  padding: 25px 35px;
}
